/* Global Table Settings */
body, table, td {
	font-family: Verdana, Helvetica, Arial;
	font-size  : 11px;
	line-height: 1.3;
	color      : #1D1F22;
}

body {
	background-color: #F1F1F1;
	margin          : 0;
	text-align      : center;
}

table {
	margin-left : auto;
	margin-right: auto;
}

html {
	overflow-y: scroll;
}

/* Centering help:
   http://www.maxdesign.com.au/presentation/center/
*/

img {
	border: 0px;
}

td {
	text-align: left;
}

/* 10.2.5 */
#headlines .title {
	font-size: 12px;
	font-weight: bold;
}

#headlines .date, #blogheads .date {
	font-weight: normal !important;
	color: #727272;
	font-size: 10px !important;
}

#headlines .item {
	padding-left: 10px;
}

#headlines {
	line-height: 2;
}
/* 10.2.5 END */

.menubar a, .menubar a:link, .menubar a:active, .menubar a:visited {
	text-decoration: none;
	padding: 6px;
	white-space: nowrap;
	line-height: 2.5;
}

.menubar a:hover {
	padding: 5px;
	border: 1px solid #4385DB;
	background-color: #FCFDFF;
}

.lessimp {
	color: #727272;
	font-size: 9px;
}

.usercolors {
	font-weight: bold;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.justify {
	text-align: justify !important;
}

.vtop {
	vertical-align: top !important;
}

.innertable {
	margin: 0px !important;
}

.leftimg {
	float        : left;
	padding-right: 5px;
}

.rightimg {
	float       : right;
	padding-left: 5px;
}

.centerimg {
	vertical-align: middle;
}

/* Colors */
.titlebg, .catbg {
	font-family: Verdana, Helvetica, Arial;
	font-size  : 12px;
	color      : #000;
	font-weight: bold;
}

.titlebg {
	background: #C6E0FF;
	border: 1px solid #FFF;
}

.catbg {
	background: #E0EDFF;
	border: 1px solid #FFF;
}

.win {
	background: #FCFDFF;
}

.win2 {
	background: #F9FBFF;
}

.win3 {
	background: #EFF6FF;
}

.win4 {
	background: #DEE1E5;
}

.win5 {
	background: #D3DCE8;
}

.border, hr {
	background-color: #4385DB;
	color: #4385DB;
}

hr {
	height: 1px;
	border: 0;
}

/* Small font text size */
.smalltext {
	font-weight: normal;
	font-size  : 9px;
	line-height: 1.5;
}

/* Table alignment */
div.centered {
	text-align: center;
}

div.centered table {
	margin-left : auto;
	margin-right: auto; /* long form to make IE5/Mac happy */
}

.messageseps {
	border-top : 1px dashed #000000;
	padding-top: 5px;
}

.postbody { /* Format the post body */
	font-size  : 12px;
	line-height: 1.5;
}

#mm a, #mm a:link, #mm a:active, #mm a:visited {
	line-height : 2;
	padding-left: 5px;
	width       : 100%;
}

#mm a:hover {
	padding-left: 2px;
	border-left : 3px solid #000000;
	text-decoration: none;
}

/* Poll Colors */
.pollcolor {
	background-color: #AAADB4;
	padding-left    : 5px;
}

.pollpercents {
	background-color: #D2D5DA;
	color           : #000000;
	padding-right   : 10px;
	padding-left    : 10px;
}

.pollborder {
	background-color: #8A8D96;
}

/* Links */

a, a:link, a:active, a:visited {
	text-decoration: none;
	color          : #36383B;
	padding-left   : 0px;
	line-height    : 1.3;
}

a:hover {
	text-decoration: underline;
	color          : #1A1016;
	padding-left   : 0px;
	line-height    : 1.3;
}

/* Forms */
.upload, input, textarea, select { /* .checkboxinput also allowed */
	color           : #000;
	background-color: #F2F6FF;
	font-family     : Verdana, Helvetica, Times;
	font-size       : 10px;
	border          : 1px #4385DB solid;
	border-width    : 1px;
}

textarea {
	padding    : 3px;
	line-height: 130%;
}

input {
	text-indent : 2px;
	margin: 0px;
	padding: 4px;
}

form, input {
	margin-top: 0px;
}

form {
	margin-bottom: 0px;
}


*/ Portal Styles
.dbx-clone {
	position  :absolute;
	visibility:hidden;
}

.dbx-clone, .dbx-clone .dbx-handle-cursor {
	cursor: move !important;
}

.dbx-dummy {
	display : block;
	width   : 0;
	height  : 0;
	overflow: hidden;
}

.dbx-group, .dbx-box, .dbx-handle {
	position: relative;
	display : block;
}

#dbx-box {
	margin : 0px;
	padding: 0px;
	border : none;
}